.notFoundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20vh);
    color: #Fff;
    width: 100%;
    text-align: center;
}

.exclamationIcon {
    color: #c2405c;
    font-size: 72px;
}

.notFoundContainer h1 {
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
}

.notFoundContainer button {
    padding: 16px 32px;
    background-color: #c2405c;
    border-radius: 4px;
    border: none;
}

.notFoundContainer button:hover {
    background-color: #Fff;
    transition: 0.4s;
    cursor: pointer;
}